body {
    /*order: solid 1px green;*/
    max-width: 600px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2, p, div {
    /*border: solid 1px orange;*/
    font-size: 100%;
}

h1 {
    color: blue;
    text-align: center;
}

#navigation {
    background-color: grey;
    padding: 5px;
}

#navigation ul {
    /*border: solid 1px blue;*/
    width: fit-content;
    padding-left: 0px;
    margin: auto;
}

#navigation li {
    display: inline;
    /*border: solid 1px red;*/
    padding-left: 2px;
}

img.centre {
    width: 400px;
    display: block;
    margin: auto;
}

img.float {
    width: 200px;
    float: left;
    margin-right: 10px;
}