body {
    background-color:black;
    font-family:fantasy;
    color:antiquewhite;
}

h1 {
    color:antiquewhite;
    background-color:crimson;
}
h2,h3,h4,h5,h6 {
    color:antiquewhite;
}
#Para1 {
    border: 1px solid;
    color:antiquewhite;
}

.imp {
    color:crimson;
}

.imp > strong {
    color:red;
}
/* mon commentaire */
strong {
    text-decoration: underline;
}