body {
    background-color:black;
    color:white;
    margin: 0;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #5d0f6b, black);
    color: rgb(219, 216, 216);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    font-size: 35px;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin-left: 30px;
    margin-right: 60px;
}

.left-items,
.right-items {
    display: flex;
    gap: 80px;
}

.topbar a {
    color: rgb(219, 216, 216);
    text-decoration: none;
}

a {
    color: white;
}

.content, .page1, .page2 {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    text-align: center;
    font-size: 70px;
    color:#d64dee;
}

#Title {
    text-align: center;
    font-size: 70px;
    color: black;
    z-index: 1;
    filter:
        drop-shadow(0 0 40px #d64dee)
        drop-shadow(0 0 60px #d64dee)
        drop-shadow(0 0 60px #d64dee)
        drop-shadow(0 0 80px #d64dee);
}

h2, h3, h4, h5, h6 {
    color:#d64dee;
    font-size: 40px;
}

p {
    background: linear-gradient(to bottom right, rgb(75, 78, 246), rgb(126, 32, 193));
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    line-height: 30px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    z-index: 10;
}

.GIF {
    height: 200px;
    border-radius: 50%;
    margin-left: 40px;
}

.picture {
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
    margin: 20px;
}

.image-link {
    display: inline-block;
    overflow: visible;
    border-radius: 0px;
}

.image-link:hover .picture {
    transform: scale(1.15);
}

:root {
  --decalage-: 20px;
}

h2 { padding-left: calc(var(--decalage-) * 1); }
h3 { padding-left: calc(var(--decalage-) * 2); }
h4 { padding-left: calc(var(--decalage-) * 3); }
h5 { padding-left: calc(var(--decalage-) * 4); }
h6 { padding-left: calc(var(--decalage-) * 5); }


.Warrior {
    background-color: red;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.page1, .page2 {
    text-align: center;
    align-items: center;
    position: relative;
}

.page1 p, .page2 p {
    max-width: 500px;
    z-index: 20;
}

.page1 img {
    display: block;
    position: relative;
    z-index: 1;
    filter:
        drop-shadow(0 0 40px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 80px rgba(255, 255, 255, 0.5));
    margin-left: auto;
    margin-right: auto;
}

.page1 img::before {
    content: "";
    position: absolute;
    inset: -60px;
    background: radial-gradient(circle, #5d0f6b 0%, black 75%);
    z-index: -1;
}

.page1 h2, .page2 h2 {
    text-align: center;
}

#HomePage {
    text-align: center;
    align-items: center;
}

#HomePage p {
    max-width: 700px;
} 

#HPGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.HPLinks p {
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0px auto;
}

.HPLinks img {
    display: block;
    margin: 0 auto;
}

.ennemies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.enemy img {
    height: 400px;
    display: block;
    margin: 0 auto;
}

.enemy p {
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 15px auto 0;
}

.hamburger {
    display: inline-block;
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(219, 216, 216);
    cursor: pointer;
    margin-left: 10px;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100%;
    background: linear-gradient(to bottom right, #3e0a47, black);
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s ease;
    z-index: 1500;
}

.side-menu.open {
    left: 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-left: 25px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

canvas {
    background-color: white;
    border: 5px solid rgb(75, 78, 246);
}